---
import Layout from "../layouts/Layout.astro";
import ContactForm from "@/components/ContactForm";
import LongTitle from "@/components/LongTitle.astro";
---

<Layout title="McDermott Landscaping | Contact Form">
  <main
    class="relative mx-auto flex max-w-6xl flex-col gap-20 px-4 2xl:max-w-7xl"
  >
    <section
      class="flex min-h-screen flex-col items-center justify-center gap-8 pb-4 pt-[125px]"
    >
      <LongTitle>Contact Us</LongTitle>
      <ContactForm client:load />
    </section>
  </main>
</Layout>
