---
import LandHero from "../components/LandHero.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="relative -z-10 mx-auto max-w-6xl px-4 2xl:max-w-7xl">
    <LandHero />
    <section class="">
      <div class="items flex flex-col">
        <span class="">Our Story</span>
        <h3 class=""></h3>
      </div>
    </section>
  </main>
</Layout>

<script
  is:inline
  src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  declare global {
    interface Window {
      netlifyIdentity: any;
    }
  }

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
