---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

import softscapingHero from "../assets/Softscaping.jpg";
import flower from "../assets/sakura.png";
import grass from "../assets/grass.png";
import plant from "../assets/plant.png";
import hedging from "../assets/hedge.png";
import excavator from "../assets/excavator.png";

import ShortTitle from "@/components/ShortTitle.astro";
import LongTitle from "@/components/LongTitle.astro";
import Parag from "@/components/Parag.astro";
import ServicesAcc from "../components/ServicesAcc";

const hardscapingServices = [
  {
    icon: flower,
    title: "Specimen shrubs",
    parag:
      "Our specimen shrubs service offers large, unique plants with that 'wow' factor, elevating your garden with exceptional, one-of-a-kind greenery, creating a distinctive and awe-inspiring landscape with our stunning selection of specimen shrubs.",
  },

  {
    icon: grass,
    title: "Lawns and grass areas",
    parag:
      "We specialized in creating lush, vibrant lawns and grassy spaces to enjoy and relax in, enhancing the natural beauty of your landscape.",
  },
  {
    icon: plant,
    title: "Planting",
    parag:
      "Our versatile Planting service offers a wide selection of shrubs, herbaceous plants, grasses, alpine species, and bamboo, available in various sizes. Additionally, our Tree Planting service provides year-round access to containerized trees, with an extensive range of varieties and sizes, enabling you to transform your landscape with ease.",
  },
  {
    icon: hedging,
    title: "Hedging and transplants",
    parag:
      "Our Hedging and Transplants service is specially tailored for creating natural hedgerows and woodland-effect planting, adding privacy and a touch of nature to your garden.",
  },
  {
    icon: excavator,
    title: "Groundwork",
    parag:
      "Our Ground Work service is tailored to handle excavations and groundwork, whether it's for garden transformations or house terrain improvements, ensuring a solid foundation for your projects.",
  },
];
---

<style>
  .pavement {
    border-radius: 17% 83% 50% 50% / 26% 54% 46% 74%;
  }
  .pavement:hover {
    border-radius: 36% 64% 33% 67% / 53% 42% 58% 47%;
  }
</style>

<Layout title="McDermott Landscaping | Hardscaping">
  <main
    class="mx-auto flex min-h-screen max-w-6xl flex-col justify-center px-4 2xl:max-w-7xl"
  >
    <section
      class="mt-10 flex min-h-screen flex-col items-center justify-center gap-10 lg:mt-0 lg:flex-row lg:gap-20"
    >
      <div
        class="flex flex-col items-center justify-center gap-5 lg:items-start"
      >
        <h1
          class="text-center text-4xl font-bold text-green-800 xs:text-5xl md:text-6xl lg:text-7xl xl:text-8xl"
        >
          Softscaping
        </h1>
        <p class="hidden max-w-xl text-xl font-medium lg:block">
          Elevate your landscape with our expert softscaping services. From
          stunning specimen shrubs to year-round containerized trees, we offer a
          wide range of planting options, along with essential ground work to
          create the perfect outdoor space.
        </p>
      </div>

      <div class="flex items-center justify-center">
        <Image
          src={softscapingHero}
          alt="pavement"
          class="pavement w-[80%] max-w-[400px] duration-300 lg:max-w-sm xl:max-w-md 2xl:max-w-xl"
        />
      </div>
      <p class="max-w-lg text-center text-lg font-medium sm:text-xl lg:hidden">
        From dreamy driveways to tranquil water features, we've got the perfect
        elements to make your outdoor space truly special.
      </p>
    </section>
    <section class="flex min-h-screen w-full flex-col justify-start gap-20">
      <div class="flex flex-col items-center justify-center">
        <ShortTitle>Services</ShortTitle>
        <LongTitle>How can we help we?</LongTitle>
      </div>
      <ServicesAcc services={hardscapingServices} client:load />
    </section>
  </main>
</Layout>
