---
import Logo from "./Logo.astro";
---

<header>
  <nav class="flex flex-col items-center justify-center gap-5 pt-5">
    <a href="">
      <div class="flex items-center justify-center gap-3">
        <div class="font-bold text-orange-600">McDermott</div>
        <Logo />
        <div class="font-bold text-green-800">Landscaping</div>
      </div>
    </a>
    <ul class="flex gap-5">
      <li><a href="">Design&Construction</a></li>
      <li><a href="">Garden Mentenance</a></li>
      <li><a href="">Hard Landscaping</a></li>
      <li><a href="">Soft Landscaping</a></li>
      <li><a href="">About</a></li>
      <li><a href="">Contact us</a></li>
    </ul>
  </nav>
</header>
