---
import Logo from "./Logo.astro";
---

<header class="">
  <nav
    class="fixed top-0 hidden w-full items-center justify-center bg-white/80 px-4 py-2 backdrop-blur-[2px] lg:flex"
  >
    <ul
      class="grid w-full max-w-6xl grid-cols-[1.25fr_0.5fr_1.25fr] gap-6 font-semibold 2xl:max-w-7xl 2xl:gap-12 2xl:text-lg"
    >
      <div class="grid grid-cols-3 gap-3 2xl:gap-6">
        <li class="flex items-center justify-center">
          <a
            href="/design&install"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Design&Install</a
          >
        </li>
        <li class="flex items-center justify-center">
          <a
            href="/maintenance"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Maintenance</a
          >
        </li>
        <li class="flex items-center justify-center">
          <a
            href="/photos"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Gallery</a
          >
        </li>
      </div>

      <li>
        <a href="/" class="flex items-center justify-center">
          <Logo />
        </a>
      </li>

      <div class="grid grid-cols-3 gap-8">
        <li class="flex items-center justify-center">
          <a
            href="/softscaping"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Softscaping</a
          >
        </li>
        <li class="flex items-center justify-center">
          <a
            href="/hardscaping"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Hardscaping</a
          >
        </li>
        <li class="flex items-center justify-center">
          <a
            href="/contactform"
            class="relative text-center after:absolute after:bottom-0 after:left-0 after:h-0.5 after:w-full after:scale-0 after:rounded-lg after:bg-orange-600 after:transition-all after:duration-500 hover:after:scale-100"
            >Contact</a
          >
        </li>
      </div>
    </ul>
  </nav>
</header>
